.container {display:flex;flex-direction: column; justify-content: flex-start; padding:25px;}
.header {display:flex;flex-direction: column;align-items: center;}
.headerImage {width:5rem;height:5rem;}
.headerHomeImage {width:8rem;height:8rem;}
.backToHome {margin:3rem 0 0;}